@model IEnumerable<MVC.Models.Contact>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Browse</title>
</head>
<body>
<p>
    @Html.ActionLink("Create New", "AddAsync")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Middlename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Middlename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateAsync", new { phone = item.Phone }) |
                @Html.ActionLink("Delete", "DeleteAsync", new { phone = item.Phone })
            </td>
        </tr>
    }

</table>
</body>
</html>